<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Ionic Image Upload </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 *ngIf="images.length == 0" class="ion-text-center">Please Select Image!</h3>

  <ion-list>
    <ion-item *ngFor="let img of images; index as pos" class="text-wrap">
      <ion-thumbnail slot="start">
        <ion-img [src]="img.path"></ion-img>
      </ion-thumbnail>
      <ion-label> {{ img.name }} </ion-label>
      <ion-button slot="end" fill="clear" (click)="startUpload(img)">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button
      fill="clear"
      expand="full"
      color="light"
      (click)="selectImage()"
    >
      <ion-icon slot="start" name="camera"></ion-icon>
      Select Image</ion-button
    >
  </ion-toolbar>
</ion-footer>
